In [30]:
import re
import pandas as pd
import seaborn as sns

In [31]:
data = pd.read_csv("Titanic-Dataset.csv")

In [32]:
def match_pattern(data, column, pattern):
    matched = []
    for value in data[column]:
        if re.match(pattern.lower(), str(value).lower()):
            matched.append(value)
    return matched

In [33]:
def get_input():
    print("Available columns to search: 'Name', 'Age', 'Sex', 'Survived', 'Pclass'")
    column = input("Enter the column name to search: ")
    if column not in ['Name', 'Age', 'Sex', 'Survived', 'Pclass']:
        print("Invalid column name. Please enter a valid column name")
        return
    pattern = input(f"Enter the pattern to match in the {column} column: ")
    matched = match_pattern(data, column, pattern)
    if matched:
        print(f"\nFound {len(matched)} matches for the pattern {pattern} in column {column}:")
        for result in matched:
            print(result)
    else:
        print(f"\nNo matches found for the pattrn {pattern} in column {column}")

In [34]:
get_input()

Available columns to search: 'Name', 'Age', 'Sex', 'Survived', 'Pclass'

Enter the column name to search:  Name
Enter the pattern to match in the Name column:  he

Found 10 matches for the pattern he in column Name:
Heikkinen, Miss. Laina
Hewlett, Mrs. (Mary D Kingcome)
Henry, Miss. Delia
Healy, Miss. Hanora "Nora"
Hendekovic, Mr. Ignjac
Herman, Miss. Alice
Hegarty, Miss. Hanora "Nora"
Herman, Mrs. Samuel (Jane Laver)
Hedman, Mr. Oskar Arvid
Heininen, Miss. Wendla Maria